.contact {

    .container {
        justify-content: center;

        .contact__content {
            position: relative;
            background: $bg-color;
            box-shadow: $shadow;
            border-radius: .5rem;
            width: 70rem;
            height: 30rem;

            .contact__info {
                position: absolute;
                top: 4rem;
                left: -6rem;
                align-items: center;
                justify-content: space-between;
                flex-direction: column;
                width: 18rem;
                height: 22rem;
                background: $white-color;
                box-shadow: $shadow2;
                border-radius: .5rem;

                div {
                    padding: 1rem;
                    text-align: center;

                    h2 {
                        color: $blue-color;
                        margin-block-end: 1rem;
                    }

                    .info {
                        position: relative;
                        padding: .5rem 0;

                        li {
                            position: relative;
                            display: flex;
                            align-items: flex-start;
                            gap: .3rem;
                            margin: 1.4rem 0;
                            cursor: pointer;
                            transition: $transition;

                            span {
                                color: $text-color;

                                i {
                                    font-size: 1.2rem;
                                    color: $blue-color;
                                }
                            }

                            &:hover {
                                transform: translateX(-10px);
                            }
                        }
                    }
                }
            }

            .contact__form {
                position: absolute;
                top: 0;
                left: 2rem;
                width: 60rem;
                height: 30rem;

                .form__box {
                    position: absolute;
                    top: 3.5rem;
                    left: 17rem;
                    align-items: center;
                    justify-content: flex-start;
                    gap: 2rem;
                    flex-wrap: wrap;
                    padding: 1rem;

                    .input__box {
                        position: relative;
                        margin: 0 0 1rem 0;

                        input, textarea {
                            width: 100% !important;
                            padding: 1.4rem 0;
                            font-size: 1rem;
                            font-weight: 300;
                            background: $bg-color;
                            color: $text-color;
                            border: none;
                            border-bottom: 2px solid $text-color;
                            resize: none;
                            transition: $transition;

                            &:focus ~ label {
                                color: $blue-color;
                            }
                        }

                        label {
                            position: absolute;
                            left: 0;
                            color: $text-color;
                            pointer-events: none;
                            transition: $transition;
                        }

                        .form__btn {
                            position: relative;
                            top: .2rem;
                            box-shadow: $shadow2;
                            background: $blue-color;
                            color: $white-color;
                            border: none;
                            border-radius: .5rem;
                            max-width: 5rem;
                            padding: .5rem;
                            cursor: pointer;
                        }
                    }

                    .w50 {
                        width: 47%;
                    }

                    .w100 {
                        width: 99%;
                    }
                }
            }
        }
    }
}