.footer {
    justify-content: center;
    padding: 3rem 0 .5rem;
    box-shadow: $shadow;

    .footer__container {
        display: grid;
        grid-template-columns: 15rem 15rem 1fr;
        gap: 5rem;
        transition: $transition;

        .footer__name {
            align-items: center;
            justify-content: flex-start;
            flex-direction: column;
            text-align: center;

            a {

                h2 {
                    text-transform: capitalize;
                    font-weight: 700;
                }
            }

            
        }

        article {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: .7rem;


            h4 {
                margin-block-end: .6rem;
                text-transform: capitalize;
            }

            a {
                font-weight: 400;
                text-transform: capitalize;
                transition: $transition;
                margin-block-end: .7rem;

                &:hover {
                    transform: translateX(10px);
                }
            }
        }

        .footer-socials {

            div {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 2rem;

                a {
                    font-size: 1.4rem;
                    transition: $transition;
    
                    &:hover {
                        transform: translateY(-10px);
                    }
                }
            }
        }
    }

    .footer-copy {
        text-align: center;
        padding: 1.5rem 0;
        margin-block-start: 2rem;

        small {
            font-weight: 300;
        }
    }
}


/*==========Media Query==========*/
@media (max-width: 1024px) {
    .footer {
    
        .footer__container {
            grid-template-columns: repeat(3, 1fr);
        }
    }
    
}


/*==========Media Query==========*/
@media (max-width: 768px) {
    .footer {
    
        .footer__container {
            grid-template-columns: 1fr;
            gap: 4rem;
            place-items: center;
    
            article {
                align-items: center;
            }
        }
    }
    
}